node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
deployed-contracts.json

# Foundry files
cache_forge
out

# Ignores development broadcast logs
!/broadcast
/broadcast/**/dry-run/
/broadcast/**/run-latest.json
forkbroadcast

# mac OS
**/.DS_Store

# Compiler files (Foundry cache and compiled output)
cache/
out/

# Makefile extension output files
.vscode/configurationCache.log

# pnpm
pnpm-lock.yaml

# simulation output
test/integration/output

# Certora Prover
certora/munged
